.PHONY: default $(BUILD_BR_DIRS) 

default: $(BUILD_BR_DIRS) $(BUILD_COMMON_DIRS)

$(BUILD_BR_DIRS): 
	@echo $@
#	$(QUIET) $(make_e3) 

.PHONY: $(BUILD_COMMON_DIRS)

common: $(BUILD_COMMON_DIRS)

$(BUILD_COMMON_DIRS):
	@echo $@
#	$(QUIET) $(make_e3) 