# -*- mode: Makefile;-*-
.DEFAULT_GOAL := all

.PHONY: $(BUILD_BR_DIRS) $(BUILD_COMMON_DIRS)

all: $(BUILD_BR_DIRS) $(BUILD_COMMON_DIRS)

$(BUILD_BR_DIRS): 
	@echo $@
	$(QUIET) $(make_e3) 

$(BUILD_COMMON_DIRS):
	@echo $@
	$(QUIET) $(make_e3)